@font-face {
  font-family: 'Liu Jian Mao Cao';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./s/liujianmaocao/v15/~ChIKEExpdSBKaWFuIE1hbyBDYW8gAA==.ttf) format('truetype');
}

